.container
  
  .region-footer
    %table.table
      %tr
        %td.img-footer
          = image_tag image_path('footer-cel.png')
        %td.info-footer
          %span
            986134697
      %tr
        %td.img-footer
          = link_to image_tag image_path('footer-fb.png')
        %td.info-footer
          %span
            = link_to 'TransportesTGLsac', 'https://www.facebook.com/TransportesTGLsac'
      %tr
        %td.img-footer
          = image_tag image_path('footer-mail.png')
        %td.info-footer
          = mail_to 'info@transportestgl.com'
    .clear
    .region-titulo
      Transportes TGL SAC  | Todos los derechos reservados 2015

          
    
